<p-dialog
header="Histórico de Batalhas"
[(visible)]="mostrarModal"
(onHide)="fecharModal()"
[draggable]="false"
[closeOnEscape]="true"
[blockScroll]="true"
[modal]="true"
[style]="{width:'60vw'}">
    <p-table 
        *ngIf="mostrarHistoricoBatalha"
        [lazy]="true"
        (onLazyLoad)="obterProximaPagina($event)"
        [value]="paginaHistoricoBatalha.elementos" 
        [rows]="5" 
        [paginator]="true" 
        [totalRecords]="paginaHistoricoBatalha.totalElementos">

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 40%; text-align:center">Descrição</th>
                    <th style="width: 20%; text-align:center">Horário</th>
                    <th style="width: 15%; text-align:center">Resultado</th>
                    <th style="width: 15%; text-align:center">Recompensa</th>
                    <th style="width: 10%; text-align:center">Ação</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-batalha>
                <tr>
                    <td class="p-text-center">
                        <b>
                            {{batalha.nomeJogador === dadosJogadorLogado.nickname ?
                            'Você atacou ' + batalha.nomeOponente : 'Você foi atacado por ' + batalha.nomeJogador}}
                        </b>
                    </td>
                    <td class="p-text-center">
                        <span>{{batalha.dataBatalha | qntdTempoAtras}}</span>
                    </td>
                    <td class="p-text-center">
                        <span 
                        *ngIf= "isJogadorLogadoVencedorBatalha(batalha)" 
                        class="p-tag p-tag-success texto-badge-resultado texto-venceu">Venceu</span>
                        <span *ngIf= "!isJogadorLogadoVencedorBatalha(batalha)"
                        class="p-tag p-tag-danger texto-badge-resultado texto-perdeu">Perdeu</span>
                    </td>
                    <td class="p-text-center">
                        <span>{{dadosJogadorLogado.nickname === batalha.nomeJogador ? batalha.moedasObtidas : -1*batalha.moedasObtidas}} moedas</span>
                    </td>
                    <td class="p-text-center">
                        <p-button type="button" icon="pi pi-info" styleClass="p-button-sm" pTooltip="Ver detalhes da batalha." (click)="visualizarLogBatalha(batalha)"></p-button>
                    </td>
                </tr>
            </ng-template>
    </p-table>

    <div *ngIf="mostrarLogBatalha">
        <app-listar-log-batalha [idBatalha]="dadosBatalhaEscolhido.id"></app-listar-log-batalha>
    </div>
    <div *ngIf="mostrarLogBatalha" class="p-dialog-footer" style="padding: 1rem 0 0 0;">
        <p-button label="Voltar" icon="pi pi-angle-left" iconPos="left" (click)="voltarHistoricoBatalhas()"></p-button>
    </div>
</p-dialog>
