.main-store-div{
    z-index:100;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.filters-div{
    padding: 20px 20px 0px 20px;
}