.main-store-div{
    z-index:100;
    padding: 20px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#dropdown-div{
    color: white;
    width:100%;
    padding-top: 20px;
    padding-left: 20px;
}