<div class="p-d-flex p-pb-4" *ngIf="usuarioEstaLogado">
  <div class="shop-menu-div" style="width:50%">
    <a [routerLink]="" class="shop-menu-item" (click)="trocarOpcaoMenu(0)">Comprar Stefamons</a>
  </div>
  <div class="shop-menu-div" style="width:50%">
    <a [routerLink]="" class="shop-menu-item" (click)="trocarOpcaoMenu(1)">Meus Stefamons</a>
  </div>
</div>

<div>
  <app-comprar-stefamons 
  [saldoJogador]="dadosUsuarioLogado ? dadosUsuarioLogado.saldo : null" 
  *ngIf="opcaoMenuLoja === 0"></app-comprar-stefamons>

  <app-meus-stefamons 
  [stefamonsJogador]="dadosUsuarioLogado ? dadosUsuarioLogado.stefamons : null"
  *ngIf="opcaoMenuLoja === 1"></app-meus-stefamons>
</div>

