<p-dialog
header="Deseja confirmar a {{isCompra ? 'compra?' : 'venda?'}}"
[(visible)]="mostrarModal"
(onHide)="fecharModal()"
[blockScroll]="true"
[modal]="true"
[style]="{width:'50vw'}"
>
  <div class="p-text-center"><h3>{{stefamonEscolhido.nome}}</h3></div>
  <div style="width: 100%; padding: 1rem;" class=" p-d-flex p-ai-center p-jc-center">
    <img width="150px" heigth="150px" alt="stefamonEscolhido.nome" src="{{ stefamonEscolhido.urlFoto }}">
  </div>

  <div class="p-grid p-nogutter p-text-center" style="margin: auto;">
    <div class="p-col-4"><strong>Saldo Atual:</strong></div>
    <div class="p-col-4 p-offset-4"><strong>Saldo após a {{isCompra ? 'compra' : 'venda'}}:</strong></div>
    <div class="p-col-4"><strong>{{dadosJogador.saldo}} moedas</strong></div>
    <div class="p-col-4 p-offset-4"><strong>{{saldoAposAcao | number: '1.1-1'}} moedas</strong></div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton class="p-button-success" type="button" icon="pi pi-check" label="Confirmar" (click)="confirmarAcao()"></button>
    <button pButton class="p-button-danger" type="button" icon="pi pi-times" label="Cancelar" (click)="mostrarModal=false"></button>
  </ng-template>
</p-dialog>
