<p-dialog 
header="Boas Vindas"
[(visible)]="mostrarModal"
[style]="{width: '60vw'}"
(onHide)="fecharModal()"
[blockScroll]="true"
[modal]="true">
    <div>
        <h3 class="p-mb-2 p-text-center">Bem vindo ao Stefamon!</h3>
        <div class="p-text-center p-mb-2">
            <img src="../../../../assets/header.png" width="50%">
        </div>
        <p class="p-mb-2 p-text-center">
            Como presente de boas-vindas, você inicia com 200 moedas para comprar seus primeiros stefamons na loja.
        </p>
        <p class="p-mb-2 p-text-center">
            Você deve possuir ao menos 1 stefamon para participar das batalhas, tanto contra jogador quanto o BOT.
        </p>
        <p class="p-mb-2 p-text-center">
            Vá a loja para ver todos os stefamons e comprar aqueles que mais lhe agradam! Boa Sorte!
        </p>
    </div>
    <p-footer>
        <button pButton type="button" label="Fechar" (click)="fecharModal()"></button>
    </p-footer>
</p-dialog>