.background{
    background-image: url('../../../../assets/backgrounds/background.jpg');
    opacity: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position:fixed;
    z-index:-1;
    width: 100%;
    height: 100%;
}

.jogadores-div{
    display: flex;
    gap: 1rem;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jogadores-card{
    width: 260px;
    text-align: center;
}

.avatar-jogador{
    width: 200px;
}

.stefaballs{
    width: 30px;
}


::ng-deep .p-tooltip{
    max-width: fit-content;
}

.botao-batalha{
    border: none !important;
    background-color: #b8c925 !important;
    box-shadow: 0px 4px 0px 0px #464d0e;
}

.botao-batalha:hover{
    background-color: #cfe225 !important;
    box-shadow: 0px 4px 0px 0px #565e12;
}

:host ::ng-deep p-button .p-button-label{
    display:none
}