<div class="background"></div>
<div class="content">
    <div class="p-p-3">
        <button pButton type="button" class="p-mr-2 p-button-warning" icon="pi pi-question" pTooltip="Ajuda" tooltipPosition="bottom"></button>
        <button pButton (click)="atualizarSugestaoJogadores()" icon="pi pi-refresh" pTooltip="Atualizar Oponentes" tooltipPosition="bottom"></button>
    </div>
    <div class="p-jc-center p-ai-center players-div">
        <ng-container *ngFor="let jogador of sugestaoJogadores">
            <p-card styleClass="p-card-shadow" class="players-card">
                <h2 class="p-pb-2" [pTooltip]="jogador.nickname" tooltipPosition="top" [tooltipDisabled]="jogador.nickname.length < 17">
                    {{ (jogador.nickname.length > 17) ? (jogador.nickname | slice:0:17)+'...' : (jogador.nickname) }}
                </h2>
                <div class="p-jc-center p-pb-2">
                    <div>
                        <img src="../../../../assets/avatar-homem.png" class="player-avatar">
                    </div>
                    <div>
                        <ng-container *ngFor="let stefamon of jogador.stefamons">
                            <img src="../../../../assets/stefaball.png" class="player-stefaballs">
                        </ng-container>
                    </div>
                </div>
                <div class="p-pb-2 p-grid">
                    <div class="p-col-6">
                        <p>Vitórias: {{jogador.qtdDerrotas}}</p>
                    </div>
                    <div class="p-col-6">
                        <p>Derrotas: {{jogador.qtdDerrotas}}</p>
                    </div>
                </div>
                <div class="p-fluid">
                    <button pButton pRipple type="button" label="Batalhar"></button>
                </div>
            </p-card>
        </ng-container>
        <h1 *ngIf="sugestaoJogadores.length == 0" style="color: white;">Nenhum oponente encontrado.</h1>
    </div>
</div>
