<div class="background"></div>
<div class="content">
    <div class="p-jc-center p-ai-center players-div">
        <p-card header="Jogador 1" styleClass="p-card-shadow" class="players-card">
            <h1>PLAYER 1</h1>
        </p-card>
        <p-card header="Jogador 2" styleClass="p-card-shadow" class="players-card">
            <h1>PLAYER 2</h1>
        </p-card>
        <p-card header="Jogador 3" styleClass="p-card-shadow" class="players-card">
            <h1>PLAYER </h1>
        </p-card>
    </div>
</div>
