<div class="p-grid p-ai-center filters-div p-nogutter">
  <div>
    <p-dropdown
    class="p-mr-2"
    [options]="atributosStefamon"
    [(ngModel)]="atributoSelecionado"
    placeholder="Ordenar por..."
    [showClear]="true"
    (onChange)="setColunaOrdenacao()">
    </p-dropdown>
  </div>

  <div>
    <p-dropdown
    class="p-mr-2"
    [options]="direcoesOrdenacao"
    [(ngModel)]="direcaoOrdenacao"
    placeholder="Tipo da ordenação"
    [showClear]="true"
    (onChange)="ordenacao($event.value)"
    [disabled]="paginacaoStefamon.colunaOrdenacao == null">
    </p-dropdown>
  </div>

  <div>
    <input type="text" pInputText placeholder="Buscar por nome" (keyup)="buscarStefamonPorNome($event)"/>
  </div>

  <h4 class="p-ml-auto coins-text" *ngIf="dadosJogador">Você possui: {{dadosJogador.saldo}} moedas</h4>
  <p-button [ngClass]="{'p-ml-2': dadosJogador, 'p-ml-auto': !dadosJogador}"
  styleClass="p-button-help" icon="pi pi-question" 
  pTooltip="Ajuda" tooltipPosition="top" (click)="abrirModalAjuda()">
  </p-button>
</div>

<app-listar-stefamons
  [isCompra]="true"
  [isVenda]="false"
  [stefamons]="paginacaoStefamon.elementos"
  (stefamonEscolhido)="setStefamonEscolhido($event)"
></app-listar-stefamons>

<div>
<p-paginator
*ngIf="!!paginacaoStefamon.totalElementos"
[rows]="paginacaoStefamon.tamanhoPagina"
[totalRecords]="paginacaoStefamon.totalElementos"
(onPageChange) = "paginacao($event)"
></p-paginator>
</div>

<app-modal-confirmacao-loja
*ngIf="mostrarModalConfirmacao"
[(mostrarModal)]="mostrarModalConfirmacao"
[stefamonEscolhido]="stefamonEscolhido"
[isCompra]="true"
></app-modal-confirmacao-loja>

<app-modal-ajuda-loja
[(mostrarModal)]="mostrarModalAjuda">
</app-modal-ajuda-loja>