<div class="p-grid p-ai-center filters-div p-nogutter">
  <div>
    <p-dropdown 
    class="p-mr-2"
    [options]="atributosStefamon" 
    [(ngModel)]="atributoSelecionado" 
    placeholder="Ordenar por..."
    [showClear]="true"
    (onChange)="setColunaOrdenacao()">
    </p-dropdown>
  </div>

  <div>
    <p-dropdown 
    class="p-mr-2"
    [options]="direcoesOrdenacao" 
    [(ngModel)]="direcaoOrdenacao" 
    placeholder="Tipo da ordenação"
    [showClear]="true"
    (onChange)="ordenacao()"
    [disabled]="paginacaoStefamon.colunaOrdenacao == null">
    </p-dropdown>
  </div>
  
  <div>
    <input type="text" pInputText placeholder="Buscar por nome" (keyup)="buscarStefamonPorNome($event)"/>
  </div>
  
  <h4 class="p-ml-auto coins-text" *ngIf="dadosJogador">Você possui: {{dadosJogador.saldo}} moedas</h4>
</div>

<div class="stefamons-div">
  <ng-container *ngFor="let stefamon of paginacaoStefamon.elementos">
    <p-card header="{{ stefamon.nome }}" styleClass="p-card-shadow"
            class="stefamons-card-div">
      <p-header>
        <div style="width: 100%; padding: 1rem;">
          <img alt="Card" src="{{ stefamon.urlFoto }}">
        </div>
      </p-header>
      <p><b>Atributos:</b></p>
      <p>Ataque: {{stefamon.ataque}}</p>
      <p>Defesa: {{stefamon.defesa}}</p>
      <p>Vida: {{stefamon.vida}}</p>
      <p>Inteligencia: {{stefamon.inteligencia}}</p>
      <p>Velocidade: {{stefamon.velocidade}}</p>
      <p>Poder: {{stefamon.poder}}</p>
      <ng-template pTemplate="footer">
        <div class="p-d-flex p-jc-center p-mb-1">
          <div>Preço: {{stefamon.preco}} moedas</div>
        </div>
        <div class="p-d-flex p-jc-center">
          <div>
            <button pButton type="button" class="p-mr-auto p-button-success" label="Comprar" icon="pi pi-check" (click)="confirmarCompra(stefamon)"></button>
          </div>
        </div>
      </ng-template>
    </p-card>
  </ng-container>

  <h1 class="not-found-text p-pb-" *ngIf="paginacaoStefamon.elementos.length == 0">Nenhum Stefamon foi encontrado.</h1>
</div>

<div>
<p-paginator 
[rows]="paginacaoStefamon.tamanhoPagina"
[totalRecords]="paginacaoStefamon.totalElementos"
(onPageChange) = "paginacao($event)"
></p-paginator>
</div>

<p-dialog 
header="Deseja confirmar a compra?" 
*ngIf="mostrarModalConfirmacao" 
[(visible)]="mostrarModalConfirmacao"
[style]="{width:'50vw'}"
>
  <div class="p-text-center"><h3>{{stefamonEscolhido.nome}}</h3></div>
  <div style="width: 100%; padding: 1rem;" class=" p-d-flex p-ai-center p-jc-center">
    <img width="150px" heigth="150px" alt="stefamonEscolhido.nome" src="{{ stefamonEscolhido.urlFoto }}">
  </div>

  <div class="p-grid p-nogutter p-text-center" style="margin: auto;">
    <div class="p-col-4"><strong>Saldo Atual:</strong></div>
    <div class="p-col-4 p-offset-4"><strong>Saldo após a compra:</strong></div>
    <div class="p-col-4"><strong>{{dadosJogador.saldo}} moedas</strong></div>
    <div class="p-col-4 p-offset-4"><strong>{{dadosJogador.saldo - stefamonEscolhido.preco | number: '1.1-1'}} moedas</strong></div>
  </div>
  
  <ng-template pTemplate="footer">
    <button pButton class="p-button-success" type="button" icon="pi pi-check" label="Confirmar" (click)="comprarStefamon()"></button>
    <button pButton class="p-button-danger" type="button" icon="pi pi-times" label="Cancelar" (click)="mostrarModalConfirmacao=false"></button>
  </ng-template>
</p-dialog>