<div class="p-mt-4">
    <div class="p-grid p-nogutter">
        <div class="p-col-3 p-d-flex p-jc-center">
            <img src="../../../../assets/avatar-homem.png" class="player-avatar">
        </div>
        <div class="p-col-6 p-text-center p-pt-5">
            <h1>Você venceu a batalha!</h1>
            <div class="p-mt-5">
                <p-button type="button" class="p-button-warning" label="Voltar ao Menu" ></p-button>
            </div>
        </div>
        <div class="p-col-3 p-d-flex p-jc-center">
            <img src="../../../../assets/avatar-homem.png" class="player-avatar">
        </div>
    </div>
    <div class="p-grid p-nogutter">
        <div class="p-col-3 p-text-center">
            <h3>{{resultadoBatalha.vencedor.nickname}}</h3>
        </div>
        <div class="p-col-3 p-offset-6 p-text-center">
            <h3>{{resultadoBatalha.perdedor.nickname}}</h3>
        </div>
    </div>
</div>