<div class="p-mt-2">
    <div class="p-grid">
        <div class="p-col-4">
            <img src="../../../../assets/avatar-homem.png" height="500">
            {{dadosOponente.nickname}}
        </div>
        <div class="p-col-4">
            {{isJogadorLogadoVencedor ? 'Venceu a batalha!' : "Você perdeu a batalha."}}
            <button>Voltar ao menu</button>
        </div>
        <div class="p-col-4">
            <img src="../../../../assets/avatar-homem.png" height="500">
        </div>
    </div>
</div>