<div class="background"></div>
<div class="content p-grid p-jc-center p-ai-center vertical-container p-mt-15 p-p-5 h-100">
  <div class="p-col-6 p-jc-start p-p-0">
      <img src="assets/header.png"  style="width: 100%" />
      <h3 id="descricao-jogo">Junte-se a milhares de jogadores e batalhe com seus Stefamons!</h3>
  </div>
  <div class="p-col-3 p-jc-end p-shadow-3 p-p-4 card-cadastro">
    <div class="p-ai-center vertical-container">
      <form *ngIf="!isUsuarioLogado" [formGroup]="criacaoUsuarioForm">
        <div class="p-fluid p-p-2">
          <h1 class="p-text-center p-mb-1">Cadastre-se</h1>

          <div *ngIf="!isSelecaoAvatar">
            <div class="p-field p-mt-3">
              <input id="login" type="text" pInputText formControlName="nickname" placeholder="Usuário"
              pTooltip="O nome de usuário deve começar com uma letra." tooltipPosition="left">
              <span class="mensagem-erro-form" *ngIf="possuiErro('nickname')">O nome de usuário é obrigatório.</span>
            </div>
            <div class="p-field">
              <input id="senha" type="password" pInputText formControlName="password" placeholder="Senha"
              pTooltip="A senha deve possuir entre 4 e 10 caracteres." tooltipPosition="left">
              <span class="mensagem-erro-form" *ngIf="possuiErro('password')">A senha deve possuir entre 4 e 10 caracteres.</span>
            </div>
          </div>

          <div *ngIf="isSelecaoAvatar" class="p-mt-2 p-mb-2">
            <div class="p-mb-2">
              <p-selectButton
              formControlName="sexoAvatar"
              (onChange)="getArquivosFotosAvatares($event.value)"
              [options]="sexoAvatar"
              [(ngModel)]="sexoAvatarEscolhido"></p-selectButton>
            </div>

            <p-carousel [value]="fotosAvatares" [circular]="true">
              <ng-template let-avatar pTemplate="item">
                  <img src="assets/{{avatar}}" width="150px">
                  <input formControlName="avatar" type="hidden" [ngModel]="avatar">
              </ng-template>
            </p-carousel>
          </div>
          <div class="p-d-flex">
            <button pButton *ngIf="isSelecaoAvatar" type="submit" class="p-mr-1" label="Voltar" (click)="isSelecaoAvatar=false"></button>
            <button pButton type="submit" label="Cadastrar" (click)="registrarUsuario()"></button>
          </div>
        </div>
      </form>

      <div *ngIf="isUsuarioLogado" class="p-text-center">
        <h2>Suas Informações</h2>
        <div>
          <img src="assets/{{dadosJogadorLogado.nomeArquivoAvatar}}"  width="150px"/>
        </div>
        <h3>{{dadosJogadorLogado.nickname}}</h3>
        <div class="p-grid">
          <div class="p-col-6">
            <p>Vitórias: {{dadosJogadorLogado.qtdVitorias}}</p>
          </div>
          <div class="p-col-6">
            <p>Derrotas: {{dadosJogadorLogado.qtdDerrotas}}</p>
          </div>
        </div>

        <div class="p-fluid">
          <button pButton class="p-mb-2" type="button" label="Meus Stefamons"></button>
          <button pButton type="button" class="botao-historico-batalha" label="Histórico de Batalhas"></button>
        </div>
      </div>
    </div>
  </div>
</div>
