.h-100 {
  height: 90vh;
}

.p-grid {
  margin: 0;
}

.card-cadastro {
  height: fit-content;
  min-height: 280px;
  min-width: 50vmin;
  background-color: #242a35;
  color: #dddddd;
}

.background{
  background-image: url('../../../assets/home-background.jpg');
  opacity: 75%;
  background-position: center;
  background-repeat: repeat-y;
  background-size:cover;
  filter: blur(3px);
  position:fixed;
  z-index:-1;
  width: 100%;
  height: 100%;
}

.content{
  z-index:100;
}

#descricao-jogo{
  color:white;
  text-align:center;
}

.botao-historico-batalha{
  border: none !important;
  background-color: #b8c925 !important;
}

.botao-historico-batalha:hover{
  background-color: #cfe225 !important;
}

:host ::ng-deep p-carousel .p-carousel-indicators{
  display: none !important;
}
