<div class="background"></div>
<div class="content p-grid p-jc-center p-ai-center vertical-container p-mt-15 p-p-5 h-100">
  <div class="p-col-6 p-jc-start p-p-0">
      <img src="assets/header.png"  style="width: 100%" />
      <h3 id="descricao-jogo">Junte-se a milhares de jogadores e batalhe com seus Stefamons!</h3>
  </div>
  <div class="p-col-3 p-jc-end p-shadow-3 p-p-5 card-cadastro">
    <div class="p-ai-center vertical-container">
      <form *ngIf="!isUsuarioLogado" [formGroup]="criacaoUsuarioForm">
        <div class="p-fluid p-p-2">
          <h1 class="p-text-center p-mb-1">Cadastre-se</h1>
          <div class="p-field p-mt-3">
            <input id="login" type="text" pInputText formControlName="nickname" placeholder="Usuário" 
            pTooltip="O nome de usuário deve começar com uma letra." tooltipPosition="left">
            <span class="mensagem-erro-form" *ngIf="possuiErro('nickname')">O nome de usuário é obrigatório.</span>
          </div>
          <div class="p-field">
            <input id="senha" type="password" pInputText formControlName="password" placeholder="Senha"
            pTooltip="A senha deve possuir entre 4 e 10 caracteres." tooltipPosition="left">
            <span class="mensagem-erro-form" *ngIf="possuiErro('password')">A senha deve possuir entre 4 e 10 caracteres.</span>
          </div>
          <button pButton type="submit" label="Cadastrar" (click)="registrarUsuario()"></button>
        </div>
      </form>

      <div *ngIf="isUsuarioLogado" class="p-text-center">
        <h2>Suas Informações</h2>
        <div>
          <img src="/assets/avatar-homem.png"  width="150px"/>
        </div>
        <h3>{{dadosJogadorLogado.nickname}}</h3>
        <div class="p-grid">
          <div class="p-col-6">
            <p>Vitórias: {{dadosJogadorLogado.qtdVitorias}}</p>
          </div>
          <div class="p-col-6">
            <p>Derrotas: {{dadosJogadorLogado.qtdDerrotas}}</p>
          </div>
        </div>
        
        <div class="p-fluid">
          <button pButton class="p-mb-2" type="button" label="Meus Stefamons"></button>
          <button pButton type="button" class="botao-historico-batalha" label="Histórico de Batalhas"></button>
        </div>
      </div>      
    </div>
  </div>
</div>
